* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", sans-serif;
  background: linear-gradient(to right, #74ebd5, #acb6e5);
  min-height: 100vh;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 60px;
}

.title {
  color: #fff;
  margin-bottom: 30px;
  font-size: 2.5rem;
}


.search-box {
  display: flex;
  gap: 10px;
  margin-bottom: 30px;
}

.search-box input {
  padding: 12px 15px;
  border-radius: 8px;
  border: none;
  width: 220px;
  font-size: 16px;
}

.search-box button {
  padding: 12px 20px;
  border-radius: 8px;
  border: none;
  background-color: #2c3e50;
  color: white;
  cursor: pointer;
  font-size: 16px;
}

.search-box button:hover {
  background-color: #1a252f;
}

.weather-card {
  background: white;
  padding: 25px;
  width: 320px;
  border-radius: 15px;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.weather-card h2 {
  margin-bottom: 10px;
}

.desc {
  font-style: italic;
  margin-bottom: 15px;
  color: #555;
}

.info p {
  margin: 8px 0;
  font-size: 16px;
}
